.opening-hours-wrapper {
    display: flex;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    margin-top: 24px;
    position: relative;
    animation: fadeIn 3s 1 forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1.0;
    }
}

.opening-hours-wrapper:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 275px;
    background: rgb(189, 189, 189);
    top: -15px;
    animation: bounceIn 4s 1 forwards;
}

@keyframes bounceIn {
    from {
        opacity: 0;
        left: -250px;
        width: 750px;
    }
    to {
        opacity: 1.0;
        left: 0;
        width: 250px;
    }
}

.opening-hours-wrapper div {
    padding: 5px;
}

.opening-hours-left {
    font-weight: bold;
    width: 85px;
    text-align: right;
}

.opening-hours-wrapper p {
    margin: 2px;
}

.opening-hours-left p:nth-last-of-type(1), .opening-hours-right p:nth-last-of-type(1),
.opening-hours-left p:nth-last-of-type(5), .opening-hours-right p:nth-last-of-type(5) {
    opacity: 0.25;
}

.opening-hours-right {
    width: 130px;
}

/* 
    Media Queries
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .opening-hours-wrapper {
        margin-top: 25px;
    }
    .opening-hours-wrapper:after {
        display: inherit;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}